# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
rizzbird/rizzbird/node_modules/
jspm_packages/

# Build outputs
build/
dist/
rizzbird/rizzbird/build/
rizzbird/rizzbird/dist/

# Native Android/iOS build artifacts
rizzbird/rizzbird/android/app/build/
rizzbird/rizzbird/ios/Pods/

# Cache directories
.cache/
.parcel-cache
.nyc_output
.grunt
.docusaurus
.serverless/
.fusebox/
.dynamodb/

# Environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# TypeScript
*.tsbuildinfo

# ESLint, Stylelint cache
.eslintcache
.stylelintcache

# Yarn
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Mac OS
.DS_Store

# Expo (React Native)
.expo/

# Others
lib-cov
bower_components
web_modules/
.lock-wscript
.node_repl_history
*.tgz
.vscode-test
